.navBarWrapper {
  width: 100%;
  height: 11vh;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobileNavBar {
  width: 100%;
  height: 11vh;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  //justify-content: flex-start;
}

.navBarModulesWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  //height: 10vh;
  //color: white;
}

.mobileNavBarModuleContainer {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  //margin-left: 20px;
  width: 100%;
}

.navBarModuleContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
  height: 6vh;
  justify-content: center;
  color: white;
}

.navBarModuleContainer:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  width: 100%;
  height: 6vh;
  border-radius: 20px;
}

.activeLink {
  @extend .navBarModuleContainer;
  background-color: white;
  color: black;
  border-radius: 15px;
  //height: 20px;
}

.mobileActiveLink {
  @extend .mobileNavBarModuleContainer;
  background-color: white;
  color: black;
  border-radius: 20px;
  width: 100%;
}

.navBarItemLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navBarTitle {
  color: white;
  font-size: 20px;
  font-weight: 300;
  margin-left: 10px;
}

.menuIconContainer {
  display: none;
}

.navBarTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 22%;
  margin-left: 20px;
}

.mobileNavBarTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 22%;
  margin-left: 20px;
}

.mobileNavBarContainer {
  display: none;
}

.mobileNavBarContainerHide {
  display: none;
}

@media (max-width: 900px) {

  .mobileNavBarContainerHide {
    display: none;
  }

  .mobileNavBarContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: flex-start;
    gap: 12px;
    //align-items: center;
    //justify-content: center;
  }

   .navBarModulesWrapper {
     display: none;
   }

  .mobileNavBar {
    width: 100%;
    height: 50vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //justify-content: space-between;
  }

  .navBarTitleWrapper {
    width: 45%;
  }

  .navBarTitle {
    font-size: 18px;
  }

  .menuIconContainer {
    display: block;
    margin-right: 20px;
  }

  .navBarWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mobileNavBarTitleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 45%;
    margin-left: 20px;
    margin-top: 20px;
  }
}

@media (max-width: 400px) {

  .mobileNavBarContainerHide {
    display: none;
  }

  .mobileNavBarContainer {
    display: block;
  }

  .navBarModulesWrapper {
    display: none;
  }

  .mobileNavBar {
    width: 100%;
    height: 50vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //justify-content: space-between;
  }

  .navBarTitleWrapper {
    width: 65%;
  }

  .navBarTitle {
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .menuIconContainer {
    display: block;
    margin-right: 20px;
  }

  .navBarWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mobileNavBarTitleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 65%;
    margin-left: 20px;
    margin-top: 20px;
  }
}

@media (max-width: 130px) {

  .mobileNavBarContainerHide {
    display: none;
  }

  .mobileNavBarContainer {
    display: block;
  }

  .navBarModulesWrapper {
    display: none;
  }

  .mobileNavBar {
    width: 100%;
    height: 50vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //justify-content: space-between;
  }

  .navBarTitleWrapper {
    display: none;
  }

  .menuIconContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-right: 0px;
  }

  .navBarWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mobileNavBarTitleWrapper {
    display: none;
  }
}


